

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
}

svg {
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
     margin-bottom: var(--gap-medium);
}

p {
    margin-bottom: var(--gap-medium);
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--gap-big);
}

nav#domeinen {
    flex-direction: row;
    width: 100%;
}

nav#domeinen>a:not(:first-of-type) {
    margin-left: var(--gap-big);
}

nav#menu {
    flex-direction: row;
    flex-wrap: wrap;
}


nav#menu>a {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav#menu>a:not(:last-of-type) {
    margin-right: var(--gap-medium);
}

@media screen and (min-width: 800px) {
    html {
        font-size: 1.2rem;
    }
    nav>div#menu {
        flex-direction: row;
    }

    nav>div#menu>a:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: var(--gap-big);
    }
}

    .heart {
      animation: floatUp 6s linear  infinite;
      transform-origin: center;
    }

    @keyframes floatUp {
      0% {
        transform: translateY(40px);
        opacity: 1;
      }

      60% {
        opacity: 0.9;
      }

      100% {
        transform: translateY(0px);
        opacity: 0;
      }
    }