header {
    height: var(--height-header) ;
    width: 100%;
    padding: 0 var(--gap-small);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    width: 220px;
}

nav.mobile {
    width: 100%;
    gap: var(--gap-medium);
  background: linear-gradient(to top, var(--color-white) 10%, transparent 100%);
    background-color: none;
    position: fixed;
    z-index: 50;
    bottom: 0;
    backdrop-filter: blur(2px); /* makes background behind element blurry */
  -webkit-backdrop-filter: blur(2px); 
}

nav>a {
    padding: 0 var(--gap-medium);
    height: 100%;
}

header>div {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

header>nav {
    justify-content: center;
                    gap: var(--gap-medium);
}

header>div:last-of-type {
    justify-content: right;
}

header>div>svg {
    height: calc(var(--height-header) - 2 * var(--gap-small));
    width: calc(var(--height-header) - 2 * var(--gap-small));;
}

main {
    height: calc(100% - var(--height-header));
}


@media screen and (min-width: 800px) {
    main {
        height: calc(100% - var(--height-header));
    }  
    header>nav.desktop {
        display: flex;
    }
}