*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

* {
    cursor: url("/cursor/cursor.cur"), pointer;
}




:root {
    --gap-mini: 0.2rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-big: 1.4rem;
    --height-course: 5.4rem;
    --height-header: 2.4rem;
    --height-nav: 2.2rem;
    --height-filters: 2.4rem;
    --height-keuzes: 2rem;
    --color-pink: #d73c56;
    --color-white: rgb(250, 250, 250);
    --color-beige: hsl(44, 97%, 86%);
    --color-black: rgb(33, 33, 33);
    --color-blue: rgb(215, 60, 86);
}

a {color: var(--color-pink); text-decoration-style: solid; text-decoration-thickness: 1px; text-underline-offset: 0.2rem;}
a:hover, a.actief {text-decoration-style: wavy; text-underline-offset: 0.1rem;}
body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body>div {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body>div {
        flex-direction: row-reverse;
    }  
}

header {
    height: var(--height-header) ;
    width: 100%;
    /* border-bottom: 4px solid var(--color-pink); */
    padding: 0 var(--gap-small);
    background-color: var(--color-white);
    /* border-bottom: 1px solid var(--color-black); */
    /* background-image: url(/media/fabrik.jpg); */
    display:flex;
    justify-content: left;
    align-items: center;
}
h1 {
    font-size: 1.4rem;
}
h1 a {font-family:'Courier New', Courier, monospace; text-decoration: none;}
a.sticker, .cirkel {
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-pink);
    color: var(--color-white);
}
h1 a>span {display: inline-block;}
.cirkel {
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50%;
    border: 1px solid var(--color-pink);
    padding: var(--gap-small) var(--gap-medium);
    background-color: var(--color-white);
    color: var(--color-pink);
    text-align: center;
    font-weight: 600;
    rotate: -5deg;
}

a.sticker {
    font-family:'Courier New', Courier, monospace;
    height: auto;
    border-radius: 0px;
    text-shadow: 0.05rem 0.05rem 0px rgba(0, 0, 0, 0.596);
    box-shadow: 0.05rem 0.05rem 0.05rem rgba(30, 30, 30, 0.789);
    letter-spacing:3px;
    padding: var(--gap-mini);
    text-decoration: underline; text-decoration-style: solid; text-decoration-thickness: 1px; text-underline-offset: 0.2rem;
}

nav#domeinen a.sticker:hover {
    transform: rotate(3deg) scale(1);
}

.mobile a.sticker:hover {
    transform: rotate(3deg) scale(1);
    text-decoration-style: wavy; text-underline-offset: 0.1rem;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(215, 60, 86, 0.532);
    color: var(--color-pink);
    text-decoration: none;
    background-color: var(--color-white);

    text-shadow: 0.1rem 0.1rem 4px rgba(0, 0, 0, 0.121);
    font-weight: 600;
}

.desktop a.sticker:hover {
    transform: rotate(3deg) scale(1);
}


.desktop a.sticker {
    margin: 0 var(--gap-medium);
}

nav#menu a.sticker {
    font-size: 0.9rem;
    
}

nav.mobile {
    gap: var(--gap-medium);
}

a.sticker.actief {
    transform: rotate(3deg) scale(1);
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(215, 60, 86, 0.532);
    color: var(--color-pink);
    text-decoration: none;
    background-color:unset;

    text-shadow: 0.1rem 0.1rem 4px rgba(0, 0, 0, 0.121);
    pointer-events: none;
    font-weight: 600;

    background-color: rgb(250, 250, 250);

}

a.sticker span {
  display: inline-block;
  text-decoration: underline; text-decoration-style: solid; text-decoration-thickness: 1px; text-underline-offset: 0.2rem;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a {
    padding: 0 var(--gap-medium);
    height: 100%;
    display: flex;
    align-items:center;
}

@media screen and (max-width: 799px) {
    nav.mobile {
        height: var(--height-nav);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    } 
    .desktop {
        display: none;
    }  
}


@keyframes wobble {
  0%   { transform: rotate(var(--start-angle)); }
  100% { transform: rotate(var(--start-angle)); }
}
nav#domeinen>a.sticker:nth-of-type(1) {background-color: rgb(179, 158, 22); rotate: 3deg; display: inline-block;}
nav#domeinen>a.sticker:nth-of-type(2) {background-color: rgb(11, 133, 34); rotate: -2deg; display: inline-block;}
nav#domeinen>a.sticker:nth-of-type(3) {background-color: rgb(50, 71, 205); rotate: 1deg; display: inline-block;}
nav#domeinen>a.sticker:nth-of-type(4) {background-color: rgb(176, 121, 27); rotate: -3deg; display: inline-block;}


@keyframes wobble {
    0%   { transform: rotate(var(--start-angle)); }
    100% { transform: rotate(var(--end-angle)); }
}

main {
    width: 100%;
    overflow-y: auto;
    height: calc(100svh - var(--height-header));
    padding: var(--gap-small);
}

/* nav {
    width: 100%;
    height: var(--height-nav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-black);
    font-weight: 600;
    display: none;
} */


/* nav p {
    font-style: italic;
} */

.desktop {display: none;}

img {
    width: 100%;
}

li {list-style: none;}

li li {
    list-style-position: inside;
    padding-left: 1rem;
}

#fiche {
    padding: var(--gap-small);
    width: 100%;
    background-color: var(--color-beige);
    /* border: 1px solid black; */
    box-shadow: 1px 2px 2px 2px rgba(140, 38, 38, 0.491);
    /* background-image: url(/media/zijde.jpg); */
}

section:not(:last-of-type) {
    margin-bottom: var(--gap-big) ;
}


section.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .desktop {display: initial;}
    .mobile {display: none;}
}